.carousel {
  padding: 12px 6px;
  margin-top: 12px;
}

.carousel-track {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 6px;
  scrollbar-width: none; /* firefox */
  margin-left:75px ;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}